body {
    margin: 60px auto;
    width: 70%;
    font-size: 1.5em;
    color: #333;
	background-color: #fdfdfd;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	margin: auto;
	padding: 10px;
	max-width: 850px
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px
}
a {
    text-decoration: none;
    color: #0645ad;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 2.058rem
}
h2 {
	font-size: 1.618rem
}
h3 {
	font-size: 1.272rem
}
p {
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footnote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
}

body,
footer,
h1,
h2,
h3,
nav {
    color: #1B1B1B;
	font-weight: 500;
	margin-top: 1ex;
	margin-bottom: 1ex;
	line-height: calc(2px + 2.5ex + 2px)
}

:root {
	font-size: clamp(1.05em, .7em + 1vw, 1.25em);
    font-family: sans-serif;
}
